.search-input {
    padding: 6px;
    padding-left: 32px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #030205;
    border-radius: 3px;
    width: 100%;
}
.search-container {
    position: relative;
    width: 50%;
    margin: 1em auto;
}
.search-icon {
    position: absolute;
    right: auto;
    left: .7em;
    top: 50%;
    margin-top: -4px;
    pointer-events: none;
}
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 8%;
}
.search-container button:hover {
    background: #ccc;
}

/* @media screen and (max-width: 600px) {
    .search-input, .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
} */